body{
	position: relative;
	margin: 0 auto;
	width: auto;
	height: auto;
	font-family: 'Roboto';
	font-size: 18px;
}
header{
	min-height: 525px;
	padding-top: 59px;
	color: #fff;
	background-color: #3a7dfd;
	background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);	
}
.header-img{
	position: absolute;
	right: -50px;
}
header h2 {
	margin-top: 102px;
	margin-bottom: 0;
	font-size: 18px;
}
header h1 {
	margin-top: 21px;
	margin-bottom: 0;
	font-size: 48px;
	line-height: 36.81px;
}
header p {
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 400;
}
.header-btn-block{
	width: 200px;
	text-align: center;
	font-size: 12px;
}
.header-btn{
	display: inline-block;
	margin-top: 33px;
	margin-bottom: 9px;
	width: 200px;
	height: 50px;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 25px;
	border: none;
	background-color: #ffffff;
	color: #072b6f;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	padding-top: 15px;
	transition: 0.2s;
}
.header-btn:hover, .footer-btn:hover{
	background-color: #fff;
	color: #3a7dfd;
	box-shadow: none;
}
main{
	background-color: #ddd;
	width: inherit;
	padding-top: 44px;
	padding-bottom: 71px;
}
.main-portfolio{
	margin: 0 auto;
	max-width: 1045px;
	padding: 29px 50px 41px 50px;
	background-color: #fff;
}
.main-portfolio img{
	max-width: 100%;
	}
.main-portfolio>h1{
	text-align: center;
	letter-spacing: 1.8px;
}
main h2{
	text-align: center;
	color: #7bb9ff;
	font-size: 14px;
	font-weight: 400;
}
main h1{
	color: #072b6f;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;	
}
main p{
	color: #8f8f8f;
}
main a{
	color: #072b6f;
	font-size: 14px;
}
footer{
	padding-top: 60px;
	padding-bottom: 110px;
	background-color: #3a7dfd;
}
.footer-wrapper{
	margin: 0 auto;
	max-width: 1045px;
}
.footer-btn{
	width: 165px;
	height: 48px;
	border-radius: 24px;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #deedfe;	
	font-size: 18px;
	margin-top: 13px;
	text-decoration: none;
	padding-top: 12px;
	transition: 0.2s;
}
footer p{
	color: #deedfe;
	margin: 0;
}
.footer-wrapper>.row>div:nth-child(1) p{
	margin-left: 51px;
}
.footer-wrapper>.row>div:nth-child(2){
	text-align: center;
}
.footer-wrapper>.row>div:nth-child(3) p{
	margin-top: 1px;
	margin-left: -40px;
}
.footer-wrapper>.row>div:nth-child(3){
	text-align: center;
}
footer h1{
	color: #fefefe;
	font-size: 24px;
	margin: 14px 0 7px 51px;
}
footer a{
	display: inline-block;
	margin: 21px 13px;
	margin-bottom: 0;
	text-decoration: none;
}